.diagram-list-container {
  text-align: center;
  padding-top: 2rem;

  .diagram-list {
    display: flex;

    & > p {
      width: 100%;
      text-align: center;
    }
  }

  .diagram-item {
    display: block;
    width: 15rem;
    border: 1px solid #eee;
    text-decoration: none;
    margin: 1rem;
    padding-bottom: 1rem;

    a {
      text-decoration: none;
    }

    .title {
      color: #444;
    }

    .created {
      color: #888;
      font-size: 0.8rem;
    }

    .revisions {
      list-style-type: none;
      padding-left: 0;

      .revision-item {
        font-size: 0.9rem;
        font-weight: bold;
        padding: 0.5rem;

        border: 1px solid transparent;

        &:not(:last-child) {
          border-bottom-color: #f1f1f1;
        }

        &:hover {
          background-color: #f6f6f6;
        }

        a {
          color: #444;
        }

        .revision-name {
          display: block;
        }

        .last-modified {
          display: block;
          // font-weight: regular;
          // color: #999;
          font-weight: 400;
        }
      }
    }
  }
}
