.diagram-list-container {
  text-align: center;
  padding-top: 2rem;

  .diagram-list {
    display: flex;

    & > p {
      width: 100%;
      text-align: center;
    }
  }

  .diagram-item {
    display: block;
    width: 15rem;
    border: 1px solid #eee;
    text-decoration: none;
    margin: 1rem;
    padding-bottom: 1rem;

    a {
      text-decoration: none;
    }

    .title {
      color: #444;
    }

    .created {
      color: #888;
      font-size: 0.8rem;
    }
  }
}
