@import "./GridDrawing";

.diagram-editor {
  position: relative;
  height: 60vh;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;

  * {
    user-select: none;
  }

  .diagram-details {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 200px);
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid #f1f1f1;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;

    .toolbar {
      width: calc(100% - 500px);
      text-align: right;

      button {
        display: inline-block;
        margin-right: 1rem;
        background-color: #eee;
        border: unset;
        color: #999;
        font-weight: bold;
        padding: 0.5rem 1rem;
        cursor: pointer;
        outline: none;
        transition: all 400ms;

        &.on {
          background-color: purple;
          color: white;
        }

        &:hover {
          transform: scale(0.9);
          background-color: #444;
          color: #fff;
        }

        &:active {
          transform: scale(0.8);
        }
      }
    }
    .diagram-name {
      width: 500px;
      text-align: left;
      padding-left: 2rem;
    }
  }

  .editor {
    width: calc(100% - 200px);
    height: 100%;
    background-color: #fff;
    border: 1px solid #eee;
    position: fixed;
    top: 4.5rem;
    overflow: hidden;

    .canvas {
      // the 'transform' property is set in the jsx code for the canvas, since it's together with the scale
      width: 10000px;
      height: 10000px;
      position: absolute;
      transform-origin: 50% 50%;
      cursor: grab;
      background-color: #fff;
      @include grid-drawing;
    }
  }

  .is-master {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    display: block;
    z-index: 1;
    color: red;
  }
}
