@import "./GridDrawing";

.diagram-editor {
  position: relative;
  height: 60vh;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;

  * {
    user-select: none;
  }

  .editor {
    width: calc(100% - 200px);
    height: 100%;
    background-color: #fff;
    border: 1px solid #eee;
    position: relative;
    overflow: hidden;

    .canvas {
      // the 'transform' property is set in the jsx code for the canvas, since it's together with the scale
      width: 10000px;
      height: 10000px;
      position: absolute;
      transform-origin: 50% 50%;
      cursor: grab;
      background-color: #fff;
      @include grid-drawing;
    }
  }

  .save,
  .home {
    position: absolute;
    z-index: 1;
    background-color: #eee;
    border: unset;
    color: #999;
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
    outline: none;
    transition: all 400ms;

    &:hover {
      transform: scale(0.9);
      background-color: #444;
      color: #fff;
    }

    &:active {
      transform: scale(0.8);
    }
  }

  .save {
    top: 3px;
    right: 203px;
  }

  .home {
    top: 3px;
    left: 3px;
  }
}
