@import "./GridDrawing";
@import "../Variables";

$componentListWidth: 220px;

.diagram-editor {
  background-color: $neutralLight;
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  // overflow-y: hidden;
  // height: 60vh;
  // width: 100vw;
  // height: 100vh;
  // margin: 0 auto;

  .main-row {
    height: 100%;

    .ant-col {
      height: 100%;
    }
  }

  .follow-cursor {
    position: absolute;
    display: block;
    z-index: 5;
    color: #12cbc4;
  }

  * {
    user-select: none;
  }

  .editor {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #eee;
    overflow: hidden;
    position: relative;

    .canvas {
      // the 'transform' property is set in the jsx code for the canvas, since it's together with the scale
      position: absolute;
      width: 10000px;
      height: 10000px;
      transform-origin: 50% 50%;
      cursor: grab;
      background-color: #fff;

      &.with-grid {
        @include grid-drawing;
      }
    }
  }

  .component-list {
    // width: $componentListWidth;
  }

  .logged-in-somewhere-else {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: 3;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
      background-color: white;
      transform: scale(1.3);
    }
  }

  .is-master {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    display: block;
    z-index: 2;
    color: red;
  }
}

.overlays {
  position: fixed;
  top: 0;
  left: 0;
}
