@import "../../Variables";

.diagram-item {
  &.ant-col-6 {
    max-width: 25rem;
  }

  .card {
    .created {
      margin-bottom: 0;
    }

    .diagram-name {
      margin: 0;
      font-size: 1rem;
      color: $color1;
    }
  }
}
