.component {
  position: absolute;
  width: 6rem;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  transition: transform 400ms;
  text-align: center;
  padding: 0.5rem;

  &:hover {
    background-color: #fafafa;
    border: 1px solid #f1f1f1;
    .component-icon {
      transform: scale(0.9);
    }
  }

  .label {
    font-size: 0.8rem;
    user-select: none;
    color: #444;
    margin: 0;
    font-size: 0.6rem;
    font-weight: bold;
  }

  .component-icon-container {
    width: 3.8rem;
    height: 3.8rem;

    background-color: #fafafa;
    position: relative;
    margin: 0 auto;
    margin-bottom: 0.5rem;

    .component-icon {
      user-select: none;
      pointer-events: none;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 400ms;
    }
  }
}
