@import "../../Variables";

.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  text-align: center;

  &.ant-card {
    margin-bottom: 1rem;
    // background-color: $color1;

    .ant-card-body {
      width: 100%;
    }
  }

  .ant-space-vertical {
    width: 100%;
  }

  .item {
    border-bottom: 1px solid $neutral;
    padding: 1rem 0;

    .anticon {
      display: block;
      color: $dark;
      color: $color1;
      font-size: 1.5rem;
    }

    .ant-typography {
      color: $dark;
      opacity: 0.7;
    }
  }

  .diagram-name {
    text-align: left;
    padding-left: 2rem;
  }

  .actions {
    width: calc(100% - 500px);
    text-align: right;
  }
}
