@import "../../Variables";

.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  text-align: center;

  &.ant-card {
    margin-bottom: 1rem;
    // background-color: $color1;

    .ant-card-body {
      width: 100%;
    }
  }

  .ant-space-vertical {
    width: 100%;
  }

  .item {
    border-bottom: 1px solid $neutral;
    padding: 1rem 0;

    .anticon {
      display: block;
      color: $dark;
      color: $color1;
      font-size: 1.5rem;
    }

    .ant-typography {
      color: $dark;
      opacity: 0.7;
    }
  }

  button {
    // width: 100%;
    // text-align: left;
    // display: flex;
    // background-color: white;
    color: $color1;
    background-color: $white;

    .anticon {
      // padding: 1rem;
      font-size: 1.6rem;
    }
  }

  .diagram-name {
    text-align: left;
    padding-left: 2rem;

    .version {
      font-size: 0.8rem;
      display: inline-block;
      vertical-align: middle;
      margin-left: 1rem;
      font-weight: 400;

      &.latest-version {
        color: #12cbc4;
      }

      &.old-version {
        // color: rgb(185, 54, 54);
        color: gray;
      }
    }
  }

  .actions {
    width: calc(100% - 500px);
    text-align: right;
  }
}
