@import "../Variables";

.diagram-details-page {
  height: 100%;
  overflow-y: auto;
  padding: 1rem 2rem;
  max-width: $max-page-width;
  width: 100%;
  margin: 0 auto;

  .main-actions-row {
    margin-bottom: 1rem;

    .main-actions {
      text-align: right;
    }
  }

  .stats {
    .ant-card-body {
      display: flex;
      justify-content: space-between;

      .ant-statistic {
        width: 100%;
        text-align: center;
      }

      .stat-item {
        width: 100%;
        margin: 0;
        text-align: center;
        color: $dark;
      }

      .ant-divider-vertical {
        height: 1.4rem;
        border-width: 2px;
        border-color: $neutral;
      }
    }
  }

  .ant-statistic-content {
    font-weight: bold;
    color: $dark;
  }

  .empty-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .image-and-description {
    margin-top: 2rem;

    .snapshot-image {
      max-width: 100%;
    }
    .description-container {
      height: 100%;
      .ant-card-body {
        padding: 2rem;
        height: 100%;
      }

      .readme-input {
        height: 100%;
      }
    }
  }

  .settings {
    margin-top: 1rem;
  }
}
