@import "../Variables";

.diagram-details-page {
  background-color: $neutralLight;
  height: 100%;
  overflow-y: auto;
  padding: 2rem;

  .diagram-name {
    text-align: left;
    margin-bottom: 2rem;

    .anticon {
      margin-right: 0.5rem;
    }
  }

  .main-content {
    max-width: 1700px;
    margin: 0 auto;
  }

  .main-actions {
    text-align: right;
  }

  .ant-statistic-content {
    font-weight: bold;
    color: $dark;
  }

  .empty-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
