@import "../Variables";

.main-bar {
  .ant-card-body {
    padding: 1rem;
  }
  color: $white;
  border-bottom: 1px solid $neutral;

  .logo-container {
    display: flex;
    align-items: center;

    .logo {
      color: $dark;
      font-size: 25px;
    }
  }

  .page-title {
    text-align: center;
    margin: 0;

    .version {
      font-size: 0.8rem;
      display: inline-block;
      vertical-align: middle;
      margin-left: 0.2rem;
      font-weight: 400;
      position: relative;
      top: -1px;

      &.latest-version {
        color: #12cbc4;
      }

      &.old-version {
        color: gray;
      }
    }

    .diagram-name {
      text-align: left;
      margin-bottom: 2rem;

      .anticon {
        margin-right: 0.5rem;
      }
    }
  }

  .user-column {
    text-align: right;
  }

  // .avatar {
  //   background-color: #fff;
  //   border: 1px solid $neutral;
  //   color: $color1;
  // }
}
